
@{
    ViewData["Title"] = "OrderPay";
    Layout = "~/Views/Shared/_Main.cshtml";
}
﻿
<br />
<br />
<br />
<br />
<br /> 

<div class="container text-center">
    <h2 class="my-4 fs-3 text-danger">Đặt hàng thành công</h2>
    <p>Cảm ơn quý khách, đơn hàng của bạn đã được đặt thành công. 
        <br/>
        Chúng tôi sẽ xử lý đơn hàng ngay lập tức!
    </p>
</div>

