USE [DevXuongMoc]
GO
/****** Object:  Table [dbo].[ADMIN_LOG]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_LOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [int] NULL,
	[SESSION_ID] [nvarchar](150) NULL,
	[APP_CODE] [nvarchar](150) NULL,
	[THREAD_ID] [nvarchar](150) NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[ADMIN_USER_ID] [int] NULL,
	[USER_LOGIN] [nvarchar](150) NULL,
	[USER_NAME] [nvarchar](250) NULL,
	[IP_ADDRESS] [nvarchar](50) NULL,
	[ACTION_CODE] [nvarchar](250) NULL,
	[ACTION_NAME] [nvarchar](250) NULL,
	[MENU_CODE] [nvarchar](150) NULL,
	[MENU_NAME] [nvarchar](250) NULL,
	[WEBPAGES_ACTION_ID] [int] NULL,
	[ACTION_TYPE] [int] NULL,
	[OBJECT_ID] [int] NULL,
	[CONTENT] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](550) NULL,
	[LOG_LEVEL] [int] NULL,
	[ERROR_CODE] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN_USER]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](200) NULL,
	[PASSWORD] [nvarchar](200) NULL,
	[MA_NHAN_SU] [int] NULL,
	[NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](30) NULL,
	[EMAIL] [nvarchar](500) NULL,
	[AVATAR] [nvarchar](200) NULL,
	[ID_PHONG_BAN] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[NGUOI_TAO] [nvarchar](200) NULL,
	[NGAY_CAP_NHAT] [datetime] NULL,
	[NGUOI_CAP_NHAT] [nvarchar](200) NULL,
	[SESSION_TOKEN] [nvarchar](500) NULL,
	[SALT] [char](3) NULL,
	[IS_ADMIN] [bit] NULL,
	[TRANG_THAI] [int] NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK__ADMIN_US__3214EC2739901ACE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[TITLE] [nvarchar](255) NULL,
	[SUB_TITLE] [nvarchar](255) NULL,
	[URLS] [nvarchar](255) NULL,
	[ORDERS] [int] NOT NULL,
	[TYPE] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
 CONSTRAINT [PK__BANNER__3214EC274D7E8BD5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[MATE_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT___A88186B13985BFD1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[CONTENT] [ntext] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[USERNAME] [nvarchar](250) NULL,
	[PASSWORD] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PHONE] [nvarchar](250) NULL,
	[AVATAR] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_BY] [bigint] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXTENSION]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXTENSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT___EXTENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFOR_COMPANY]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFOR_COMPANY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[LOGO] [varchar](500) NULL,
	[PHONE] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[YOUTUBE] [nvarchar](500) NULL,
	[INSTAGRAM] [nvarchar](500) NULL,
	[FACEBOOK] [nvarchar](500) NULL,
	[CREATED_DATE] [date] NULL,
	[UPDATE_DATE] [date] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
 CONSTRAINT [PK_INFOR_COMPANY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTRODUCTIONS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTRODUCTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](300) NOT NULL,
	[IMAGE] [nvarchar](255) NOT NULL,
	[ORDERS] [int] NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[HOME] [tinyint] NULL,
	[TYPE] [tinyint] NULL,
	[PARENTID] [int] NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](4000) NULL,
	[SLUG] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
 CONSTRAINT [PK__INTRODUC__3214EC2715DFAD94] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](200) NULL,
	[ICON] [nvarchar](200) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[ORDERS] [int] NULL,
	[PARENTID] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [ntext] NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__MATERIAL___EXTENSION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](10) NULL,
	[TITLE] [nvarchar](200) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CONTENT] [ntext] NULL,
	[IMAGE] [nvarchar](max) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[MAIN_KEYWORD] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[VIEWS] [int] NULL,
	[LIKES] [int] NULL,
	[STAR] [float] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__NEWS__3214EC27E639B94D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ID] [bigint] NOT NULL,
	[ID_ORDER] [bigint] NULL,
	[ID_PRODUCT] [int] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[QTY] [int] NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[RETURN_QTY] [int] NULL,
 CONSTRAINT [PK_ORDERDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_ORDERS] [bigint] NULL,
	[ID_CUSTOMER] [bigint] NULL,
	[ID_PAYMENT] [bigint] NULL,
	[ORDERS_DATE] [datetime] NULL,
	[TOTAL_MONEY] [decimal](18, 0) NULL,
	[NOTES] [ntext] NULL,
	[NAME_RECIVER] [nvarchar](250) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[PHONE] [nvarchar](250) NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTNER]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[LOGO] [nvarchar](255) NULL,
	[URL] [nvarchar](255) NULL,
	[ORDERS] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT_METHOD]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT_METHOD](
	[ID] [bigint] NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[NOTES] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ISDELETE] [tinyint] NULL,
	[ISACTIVE] [tinyint] NULL,
 CONSTRAINT [PK_PAYMENT_METHOD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[CODE] [nvarchar](10) NULL,
	[TITLE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[IMAGE] [nvarchar](255) NULL,
	[META_TITLE] [nvarchar](500) NULL,
	[META_KEYWORD] [nvarchar](500) NULL,
	[META_DESCRIPTION] [nvarchar](500) NULL,
	[SLUG] [nvarchar](500) NULL,
	[PRICE_OLD] [decimal](18, 0) NULL,
	[PRICE_NEW] [decimal](18, 0) NULL,
	[SIZE] [nvarchar](500) NULL,
	[VIEWS] [int] NULL,
	[LIKES] [int] NULL,
	[STAR] [float] NULL,
	[HOME] [tinyint] NULL,
	[HOT] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[ISDELETE] [bit] NULL,
 CONSTRAINT [PK__PRODUCT__3214EC27E639B94D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_EXTENSIONS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_EXTENSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[EID] [int] NULL,
	[CONTENT] [ntext] NULL,
 CONSTRAINT [PK_PRODUCTEXTENSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGES]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[IMAGE] [nvarchar](500) NULL,
 CONSTRAINT [PK_PRODUCTIMAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_MATERIALS]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_MATERIALS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PID] [int] NULL,
	[MID] [int] NULL,
 CONSTRAINT [PK_PRODUCTMATERIALS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIDES]    Script Date: 12/15/2024 12:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](255) NULL,
	[TITLE] [nvarchar](255) NULL,
	[SUB_TITLE] [nvarchar](255) NULL,
	[URLS] [nvarchar](255) NULL,
	[ORDERS] [int] NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[ADMIN_CREATED] [nvarchar](255) NULL,
	[ADMIN_UPDATED] [nvarchar](255) NULL,
	[NOTES] [nvarchar](max) NULL,
	[STATUS] [tinyint] NOT NULL,
	[ISDELETE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__CREAT__25518C17]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__UPDAT__2645B050]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__PROJE__2739D489]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF__PRODUCT_C__PROJE__282DF8C2]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__CREAT__3A81B327]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__UPDAT__3B75D760]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__STATU__3C69FB99]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[EXTENSION] ADD  CONSTRAINT [DF__PRODUCT_E__ISDEL__3D5E1FD2]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__IMAGE__5070F446]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__CREAT__5165187F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__UPDAT__52593CB8]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__STATU__534D60F1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[INTRODUCTIONS] ADD  CONSTRAINT [DF__INTRODUCT__ISDEL__5441852A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__IMAGE__31EC6D26]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__CREATED__32E0915F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__UPDATED__33D4B598]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__STATUS__34C8D9D1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[NEWS] ADD  CONSTRAINT [DF__NEWS__ISDELET__35BCFE0A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [LOGO]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((1)) FOR [ORDERS]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PARTNER] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__IMAGE__31EC6D26]  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_HOME]  DEFAULT ((0)) FOR [HOME]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__CREATED__32E0915F]  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__UPDATED__33D4B598]  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__STATUS__34C8D9D1]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF__PRODUCT__ISDELET__35BCFE0A]  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ('NO_IMAGE_AVAILABLE.jpg') FOR [IMAGE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[SLIDES] ADD  DEFAULT ((0)) FOR [ISDELETE]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAILS_ORDERS] FOREIGN KEY([ID_ORDER])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [FK_ORDERDETAILS_ORDERS]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAILS_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [FK_ORDERDETAILS_PRODUCT]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMER] FOREIGN KEY([ID_ORDERS])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMER]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([CID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_IMAGES_PRODUCT] FOREIGN KEY([PID])
REFERENCES [dbo].[PRODUCT] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGES] CHECK CONSTRAINT [FK_PRODUCT_IMAGES_PRODUCT]
GO
