@{
    ViewData["Title"] = "Trang quản trị";
    Layout = "~/Areas/Admins/Views/Shared/_Admin.cshtml";
}

<style>
    h3, p ,.bg-warning>a{
        color: white !important;
    }
</style>

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewData["ProductCount"]</h3>
                <p>Sản phẩm</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="~/admins/products" class="small-box-footer">Thông tin thêm <i class="fas fa-arrow-circle-right"></i> </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewData["NewsCount"] </h3>
                <p>Tin tức</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admins/news" class="small-box-footer">Thông tin thêm <i class="fas fa-arrow-circle-right"></i> </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewData["UserCount"] </h3>
                <p>Khách hàng</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="~/admins/customers" class="small-box-footer" >Thông tin thêm <i class="fas fa-arrow-circle-right"></i> </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewData["ContactCount"]</h3>
                <p>Người liên hệ</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="~/admins/contacts" class="small-box-footer">Thông tin thêm <i class="fas fa-arrow-circle-right"></i> </a>
        </div>
    </div>
</div>

